body {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 14px;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td, th {
    padding: 15px;
}
.error {
	color: #FF0000; /*red*/
}
.success {
	color: #008000; /*green*/
}
.header {
	border-style: solid;
    border-width: medium;
}
.footer {
	color: #484848; /*grey*/
	font-size: medium;
}