html {
	background-image: url(mountains.JPG);
   	background-size:inherit;
   	background-repeat: no-repeat;
}

body {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width:80%;
	margin: auto;
	color: white;
}

div {
	border-style: groove;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input {
	font-size: 19px;
	margin: 10px;
}

label {
	padding-left: 30px;
	padding-right: 5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table, td {
    border: 3px solid white;
}
td, th {
    padding: 15px;
}

th {
	border: 6px solid white;
}

.error {
	color: #D6317E; /*maroon*/
}

#footer {
	font-size: medium;
}