html {
	background-image: url(mountains.JPG);
   	background-size:inherit;
   	background-repeat: no-repeat;
}

body, a {
	font-family: verdana, tahoma, helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width:80%;
	margin: auto;
	color: white;
}

input {
	font-size: 19px;
	margin: 10px;
}

label {
	padding-left: 30px;
	padding-right: 5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background: rgba(70, 72, 82, 0.5);
}
table{
    border: 15px solid white;
}
td, th {
    padding: 5px;
    border: 3px solid white;
}

img {
	border: 15px solid white;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 10px;
    list-style-type: none;
}

.menu {
    width: 6em;
    text-decoration: none;
    color: #33CCFF;
    background-color: white;
    padding: 5px;
    border-right: 1px solid white;
}

a:hover {
    background-color: gray;
}

li {
    display: inline;
}

.error {
	color: #D6317E; /*maroon*/
}

.right {
	float: right;
}

.left {
	float: left;
}

.visible {
	border-style: groove;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
    background: rgba(70, 72, 82, 0.5);
}

#footer {
	font-size: medium;
	clear: both;
}

#reviewList {
	max-width: 300px;
}